<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Store data in Database</h1>

    <form action="/create" method="post">
      <label for="#">Full Name</label>
      <input type="text" name="full_name" />
      <br />

      <label for="#">Age</label>
      <input type="number" name="age" />
      <br />

      <label for="#">Email</label>
      <input type="text" name="email" />
      <br />

      <label for="#">Password</label>
      <input type="text" name="password" />
      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
